---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");

function compareFunction(a: any, b: any) {
	return a.data.pubDate - b.data.pubDate;
}

blogPosts.sort(compareFunction);
blogPosts.map((post) => console.log(post.data.pubDate)); // debug
---

<style>
	.root-container {
	}
</style>

<Layout title="blog" , description="about blog">
	<div>
		<h1>BLOG</h1>
		<ul>
			{
				blogPosts.map((post) => (
					<li>
						<a href={`/blog/${post.id}`}>{post.data.title} </a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>
