---
import Layout from "@layouts/Layout.astro";
import BlogCards from "@components/blog/BlogCards.astro";
import QiitaBlogCards from "@components/blog/QiitaBlogCards.astro";
---

<style>
	.root-container {
	}
</style>

<Layout title="blog" , description="about blog">
	<div>
		<h1>BLOGS</h1>
		<h2>ORIGINAL BLOG</h2>
		<BlogCards />
		<h2>QIITA BLOGS</h2>
		<QiitaBlogCards />
	</div>
</Layout>
