---
import Layout from "@layouts/Layout.astro";
import BlogCards from "@components/blog/BlogCards.astro";
---

<style>
	.root-container {
	}
</style>

<Layout title="blog" , description="about blog">
	<div>
		<h1>BLOG</h1>
		<BlogCards />
	</div>
</Layout>
