---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import Image from "astro/components/Image.astro";
import icon from "@pictures/icon.webp";
---

<style>
	.root-content {
		margin: 0 15%;
	}

	.card-container {
		padding: 0 10%;
	}

	.profile-container {
		display: flex;
		justify-content: start;
	}

	.icon-setting {
		object-fit: cover;
		border-radius: 100%;
		padding: 2rem;
	}

	.profile-content {
		padding: 1rem 2rem;
	}

	.name {
		font-size: 2.5rem;
	}
</style>

<Layout title="home" , description="home">
	<div class="root-content">
		<h1>HOME</h1>
		<div class="card-container">
			<Card headingTitle="Profile">
				<div class="profile-container">
					<Image
						src={icon}
						alt="アイコンの画像"
						width="300"
						height="300"
						class="icon-setting"
					/>
					<div class="profile-content">
						<p class="name">木村 慎之介</p>
					</div>
				</div>
			</Card>
		</div>
	</div>
</Layout>
