---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
const test = " こんにちは";
---

<style>
	.root-content {
		margin: 0 15%;
	}
</style>

<Layout title="home" , description="home">
	<div class="root-content">
		<h1>HOME</h1>
		<h2>h2 tag ああああ</h2>
		<h3>h3 tag ああああ</h3>
		<h4>h4 tag ああああ</h4>
		<h5>h5 tag ああああ</h5>
		<h6>h6 tag ああああ</h6>
		<p>はるはあけぼの<br />ようようあけゆく...</p>
		<ul>
			<li>list 1 ああああ</li>
			<li>list 2 ああああ</li>
		</ul>
		<Card headingTitle="Card title">hoge</Card>
		<Card headingTitle="">No title</Card>
	</div>
</Layout>
