<style>
	.root-container {
		color: white;
		width: 100%;
		height: 100px;
		background-color: #1e90ff;
		border-radius: 0 0 10px 10px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.site-title {
		font-size: 1.5rem;
		font-weight: 500;
	}

	.links-content {
		display: flex;
		font-size: 1.25rem;
		font-weight: 500;
	}

	.link-content {
		transition-duration: 300ms;
	}

	.link-content:hover {
		color: #ccc;
	}
</style>

<header class="root-container">
	<div class="site-title"><a href="/	">SHINNの研究室</a></div>
	<div>
		<ul class="links-content">
			<li><a href="/" class="link-content">HOME</a></li>
			<li><a href="/blog/" class="link-content">BLOG</a></li>
		</ul>
	</div>
</header>
