---
import BlogPost from "@layouts/BlogPost.astro";
import BlogCard from "./BlogCard.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { preprocess } from "astro:schema";

const blogPosts = await getCollection("blog");

// Sort the blog posts by publication date
function compareFunction(a: any, b: any) {
	return a.data.pubDate - b.data.pubDate;
}

// Sort the blog posts in descending newest first order
blogPosts.sort(compareFunction).reverse();
---

<style>
	.root-container {
	}
	@media screen and (1140px <= width) {
		.root-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	.blog-card-container {
		margin: 1rem;
		height: 100%;
	}
</style>
<div class="root-container">
	{
		blogPosts.map((post) => (
			<div class="blog-card-container">
				<BlogCard
					postId={post.id}
					image={post.data.image}
					title={post.data.title}
					pubDate={post.data.pubDate}
				/>
			</div>
		))
	}
</div>
