---
import noImage from "@images/no_image.webp";
import Image from "astro/components/Image.astro";

interface Props {
	image?: string | null;
	title: string;
	pubDate: Date | string;
}

const { image, title, pubDate } = Astro.props;

const testImage: string =
	"https://res.cloudinary.com/dvnauwts5/image/upload/v1744280150/profile_icon_ondp1v.jpg";

const displayImage: any = image || noImage;
console.log(image);
console.log(title);
---

<style>
	.root-container {
		width: 100%;
	}

	.hero-image-container {
		width: 100%;
		height: auto;
	}
</style>
<div class="root-container">
	<Image src={displayImage} inferSize alt="" class="hero-image-container" />
	<h3>{title}</h3>
	<p>{pubDate}</p>
</div>
